* {
    margin:0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
}

.accordion td ul {
    margin: 60px auto;
    width: 600px;
}

.accordion td ul li {
    list-style: none;
    width: 100%;
    margin: 20px;
    padding: 10px;
    background-color: #e3edf7;
    border-radius: 8px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
                -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
    
}

.accordion td ul li label {
    
    display: flex;
    align-items: center;
    padding: 10px; 
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

label::before {
    content: '+';
    font-size: 24px;
    margin-right: 10px;
    font-weight: 600;
}

.accordion tr td ul li input[type="checkbox"] {
    display: none;
}

.accordion tr td ul li .panel {
    color: #555;
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: auto;
    transition: max-height 0.5s, padding 0.5s;
}

.accordion tr td ul li input[type="checkbox"]:checked + label + .panel {
    max-height: 1000px;
    padding: 10px 10px 20px;
}

